body{
    margin:0;
    padding:0;
    font-family:"游ゴシック, YuGothic, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif";
}

.header {
  position:relative;
  font-family:'Arial';
  top: 0px;
  left:0px;
  right:0px;
  width: 100%;
  height: 70px;
  background-color:white;
  box-shadow: 5px 5px 20px 4px rgba(144, 144, 144, 0.2); /*影*/
  z-index:5;}

.header-logo { /*左上ロゴ*/
  position: absolute;
  width: 185px;
  height: auto;
  left: 36px; 
  top: 25px;  
  z-index:6; /*header-menuにかぶってクリック不可とならぬよう*/
}

.header-logo:hover{
    opacity: 0.8;
}

.header-menu{ /*上のメニュー部分*/
    margin-top:0;
    margin-right:35px; /*上と左右に隙間空けない*/
    line-height: 0.9; /*行間詰める*/
    display: flex;
    gap: 47px;
    position: relative;
    align-items: center;/*高さを中央揃えに*/
    top: 13px;
    justify-content: flex-end;
  }
 .en{font-size:11px;}
 .jp{font-size:10px;}

  .header-menu-0 a{ /*PタグではなくAタグ指定！*/
    text-decoration: none;
    color: black;
  }
   .header-menu-0:hover{
    opacity: 0.8; }

  .header-menu-1 a{ /*PタグではなくAタグ指定！*/
    text-decoration: none;
    color: black;
  }
   .header-menu-1:hover{
    opacity: 0.8;}

  .header-menu-2 a{ /*PタグではなくAタグ指定！*/
    text-decoration: none;
    color: black;
  }
   .header-menu-2:hover{
    opacity: 0.8;}

  .header-menu-3 a{ /*PタグではなくAタグ指定！*/
    text-decoration: none;
    color: black;
  }
   .header-menu-3:hover{
    opacity: 0.8;}
 
 .header-menu-4 a{ /*PタグではなくAタグ指定！*/
    text-decoration: none;
    color: black;
  }
   .header-menu-4:hover{
    opacity: 0.8;}

 .header-button a{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items:center;
    top:10px;
    border-radius: 9999px;/*長円形*/
    width: 128px;
    height: 40px;
    background-color: rgba(252, 123, 2, 0.966);
    padding-left:20px;
  }
   .header-button:hover{
    opacity: 0.8;}

  .hamburger-menu {
    display: none; /*PCではハンバーガー非表示*/
}

.main-background{ /*もともとここにpadding70p入れてたた*/
  position:relative;
  width:100%;
  background:white;
}
  
.object1{
  position:absolute; /*positionプロパティ指定しないと位置かえられない*/
  top:0;
  left:0;
  width:auto;
  height:278px;
}

.object2{
  position:absolute;
  top:84px;
  right: 895px;
}
.object3{
  position:absolute;
  top:321px;
  right:0;

}
.main-visual{
  position:absolute;
  width:57.5%;
  height:auto;
  top: -70px;
  right: 0px;
}
.main-background-phone{
  display:none;
}

.sub-visual{
  position:absolute;
  top:180px;
  left:580px;
}


.main-text1{
  position:absolute;
  font-size: 42px;
  font-family:'Noto Sans JP Black';
  color:rgb(53, 53, 53);
  top: 285px;
  left: 155px;
  line-height:1.5;
}
.main-button{
  position:absolute;
  top:493px;
  left:155px;

}
.main-button a{
  display:flex;
  justify-content: center;/*横真ん中*/
  align-items: center;/*縦真ん中*/
  text-decoration: none;
  font-size: 16px;
  font-weight:700;
  font-family:'游ゴシック';
  color: white;
  border-radius: 9999px;/*長円形*/
  background-color: #F79214;
  width: 482px;
  height: 65px;
  line-height: 1;
  }
.main-button:hover{
    opacity: 0.8;}

 .sub-text{
  position:absolute;
  font-family:'游ゴシック';
  font-size:12px;
  line-height:1.4;
  text-align:justify;
  top:575px;
  left:155px;
 }


 @media screen and (max-width: 480px) {
  /* スマホ用スタイル */

.header {
  position:relative;
  top: 0px;
  left:0px;
  right:0px;
  width: 100%;
  height: 48px;
  background-color:white;
  box-shadow: 5px 5px 20px 4px rgba(144, 144, 144, 0.2); /*影*/
  }

.header-logo { /*左上ロゴ*/
  position: absolute;
  width: 149px;
  height: auto;
  left:16px; 
  top:16px;
}
.header-logo:hover{
    opacity: 0.8;
}

.header-menu{
  display:none;
}

.hamburger-menu{
 position: absolute;
 display: block;/*noneに消されないように。本来はデフォルトでdisplay:block*/
 width: 18px;
 height:2px;
 top:13px;
 right:20px;
}

.hamburger{ /*absoluteにすると3つ重なって固定されてしまうため、消す*/
 display:block; /*spanはデフォルト横並びなので、縦にする*/
 background-color: #afafaf;
 border-radius: 10px;
 width:100%;
 height:100%;
 margin:4px;
}
 

 .main-background {
  display:none;
 }
 .object1, .object2, .object3, .main-visual {
  display: none !important;
  }

 .main-background-phone{
  display:block;
  width:100%;
 }
 .main-background-phone img{
  display:block;
  width: 100%;
  height:auto;
 }



.sub-visual{
  position:absolute;
  width:102px;
  height:auto;
  top:274px;
  left:243px;
}


.main-text1{
  position:relative;
  font-size: 22px;
  font-family:"Lato, sans-serif";
  font-weight:800;
  color:#333;
  top: 5px;
  left: 16px;
  line-height:1.65;
}
.main-button{
 display:flex;
 margin:0 auto;
 width:100% !important;
 left:auto;/*PC版での指示が適用されないように*/
 margin-top:-75px;
}
.main-button a{
  display:flex;
  align-items: center;/*文字を真ん中に*/
  justify-content: center;/*文字を真ん中に*/
  margin:0 auto;/*ボタン中央揃え*/
  background-color: #F79214;
  color: white;
  border-radius: 9999px;/*長円形*/
  border:none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  width:92%;
  height:64px;
  text-decoration: none;
  }

.main-button:hover{
    opacity: 0.8;}

.sub-text{
position: static !important; 
left: 0 !important;          
display: block; 
width: 100%;                
margin: 103px 0 0 0;          
padding: 0 18px; 
box-sizing: border-box; 
text-align:left;        
font-size:12px;
line-height: 16px;
 }

